@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

h1 {
    font-family: "Marzaki Text";
}

#content, #content-p2, #content-p3 {
    background-color: black;
    max-width: 100%;
    color: white;
    margin: 0 auto;
}
body {
    margin: 0 auto;
    max-width: 100%;
}
header {
    display: grid;
    grid-template-columns: 10% 2fr 1fr;
    background-color: #8EA779;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#hero-box {
    grid-column: 2/3;
    background-color: black;
} 
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: black;
}
.home-title {
    font-size: 5em;
    background-color: #222725;
    padding-top: 50px;
    padding-bottom: 80px;
    color: white;
}
.logo {
    width: 70px;
    border-radius: 50px;
    padding-top: 5px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 30px;
}
nav a:hover {
    background-color: #222725;
    color: white;
}
#home-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
}
#pianist-img {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
    border-radius: 10px;
}
#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, .subpage-p1, .subpage-p2, .diff-rating, .pros, .cons {
    margin: 20px;
    background-color: #222725;
    color: white;
    padding: 20px;
    border: black solid 3px;
    border-radius: 20px;
}
#p1 {
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    padding: 100px 30px;
    margin: 80px;
    margin-left: 30px;
}
#p2 {
    grid-column: 1/3;
    grid-row: 2/3;
}
#p3 {
    grid-column: 1/3;
    grid-row: 3/4;
}
#p4 {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 30px;
}
#p5 {
    grid-column: 2/3;
    grid-row: 4/5;
}
#p6 {
    grid-column: 1/3;
    grid-row: 5/6;
}
#p7 {
    grid-column: 1/3;
    grid-row: 6/7;
}
#p8 {
    grid-column: 1/3;
    grid-row: 7/8;
}
#coming-soon h3 {
    text-align: center;
}
#coming-soon {
    grid-column: 1/3;
    grid-row: 8/9;
    text-align: left;
    text-indent: 50px;
    background-color: #222725;
    color: white;
    width: 500px;
    margin-left: 25%;
    margin-bottom: 20px;
    border-radius: 10px;
}
#httyd-hero{
    display: grid;
    grid-template: 1fr / 1fr;
}
#httyd-hero-box {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: black;
    max-height: 1080px;
}
#httyd-hero-img{
    width: 100%;
    grid-row: 1/2;
}
#httyd-hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 600px;
    font-size: 2em;
    text-align: center;
}
#waltz-hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    background-color: #222725;
}
#waltz-hero-box {
    grid-column: 2/3;
    grid-row: 1/2;
}
#waltz-hero-img {
    max-height: 1080px;
    grid-column: 2/3;
    grid-row: 1/2;
}
#waltz-hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 2em;
}
#sub1-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .75fr 2fr 1fr 1fr .75fr .5fr;
}
#sub2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr 2fr 1fr 1fr .75fr .5fr;
}
.subpage-p1 {
    grid-column: 1/7;
    grid-row: 1/2;
}
.subpage-img-box {
    grid-column: 1/7;
    grid-row: 2/3;
}
.subpage2-img-box {
    grid-column: 2/6;
    grid-row: 2/3;
}
.subpage-img {
    width: 100%;
    padding-bottom: 20px;
}
.subpage2-img {
    width: 100%;
}
.vid {
    grid-column: 1/5;
    grid-row: 3/5;
}
.diff-rating {
    grid-column: 5/7;
    grid-row: 3/4;
    text-align: center;
    font-size: 1.5em;
}
.pros {
    grid-column: 1/4;
    grid-row: 5/6;
}
.cons {
    grid-column: 4/7;
    grid-row: 5/6;
}
.subpage-p2 {
    grid-column: 1/7;
    grid-row: 6/7;
}
footer {
    background-color: #8EA779;
    color: #222725;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #222725;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer a:hover {
    text-decoration: underline;
}